
body{
    background-color: blue;
}
.red{
    background-color: red;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
 text-align: center;
}
.new1{
    color:aqua;
    font-weight: bold;
    text-decoration: double underline;
    font-size: 40px;
}
input{
    border-radius: 10px;
    width:150px;
    border-color: none;
    border-style: none;
    height:5vh;
}
.red button{
    border-radius: 10px;
    border-style: none;
    height:5vh;
}